<!DOCTYPE html>
html(lang='en')

    include ./assets/partials/head
        title Home
    body

        include ./assets/partials/mixin

        +navbar

        include ./assets/partials/header

        include ./assets/partials/modal

        include ./assets/partials/portfolio
        
        include ./assets/partials/testimonials

        include ./assets/partials/touch

        include ./assets/partials/footer

        include ./assets/partials/scripts
