<!DOCTYPE html>
html(lang='en')

    include ./assets/partials/head
        title Home
    body

        //- Header
        include ./assets/partials/header

        //- Modal
        include ./assets/partials/modal

        //- Portfolio
        include ./assets/partials/portfolio

        //- Testimonials
        include ./assets/partials/testimonials

        //- Get in Touch 
        include ./assets/partials/touch

        //- Footer
        include ./assets/partials/footer

        //- Scripts
        include ./assets/partials/scripts
