<!DOCTYPE html>
html(lang='en')

    include ./assets/partials/head
        title Products
    body
    
        include ./assets/partials/mixin

        include ./assets/partials/modal

        +navbar

        include ./assets/partials/global/scroll

        include ./assets/partials/scripts
