<!DOCTYPE html>
html(lang='en')

    include ./assets/partials/head
        title Products
    body
    
        include ./assets/partials/mixin

        include ./assets/partials/modal

        +navbar

        +scrollImg(8, 'product/product-')

        include ./assets/partials/scripts
