<!DOCTYPE html>
html(lang='en')

    include ./assets/partials/head
        title Tea
    body
    
        include ./assets/partials/navbar
        +navbar('navbar-top')

        include ./assets/partials/modal

        div(
            id="header" 
            class='w-full' 
            class='bg-img-tea'
        )

        include ./assets/partials/tea/show

        include ./assets/partials/tea/images

        include ./assets/partials/footer

        include ./assets/partials/scripts
