<!DOCTYPE html>
html(lang='en')

    include ./assets/partials/head
        title Tea
    body

        include ./assets/partials/mixin

        +navbar('navbar-top')

        include ./assets/partials/modal

        div(
            id="header" 
            class='w-full' 
            class='bg-img-tea'
        )

        include ./assets/partials/global/show

        #images.my-16
            +forImg('tea/tea-', 7)

        include ./assets/partials/footer

        include ./assets/partials/scripts
