<!DOCTYPE html>
html(lang='en')

    include ./assets/partials/head
        title Tools
    body

        include ./assets/partials/mixin

        include ./assets/partials/modal

        +navbar

        +scrollImg(5, 'tool/tool-')

        include ./assets/partials/scripts
