<!DOCTYPE html>
html(lang='en')

    include ./assets/partials/head
        title Various
    body
    
        include ./assets/partials/mixin

        include ./assets/partials/modal

        +navbar

        +scrollImg(3, 'various/various-')

        include ./assets/partials/scripts
