div#header.mt-16.mb-32
    h2(class='text-xl md:text-3xl font-semibold text-center md:w-2/5 w-full m-auto' class='animated fadeInUp slow delay-6').
        We are a digital design agency and we bring business ideas to life
