include ./navbar

div#header.mt-16.mb-32
    h2(class='text-3xl font-semibold text-center w-2/5 m-auto' class='animated fadeInUp slow delay-5').
        We are a digital design agency and we bring business ideas to life
