div#navbar.flex.justify-between.items-center.w-full.h-20
    a(
        href='https://tom-deman.github.io/portfolio-final/'
        target="_blank") 
        h1(
            class='ml-8 text-xl font-semibold' 
            class='title'
        ) TD
    button.mr-8
        include ./burger.pug
