div#navbar.flex.justify-between.items-center.w-full.h-20
    //- class: first - tailwind / second - personnal
    h1(class='ml-8 text-xl font-semibold' class='title') TD
    button.mr-8 
        include ./burger.pug
