div#touch.w-full
    h2(class='md:text-3xl text-xl text-center text-gray-100 font-medium pt-20') Ready to start your next project?
    p(class='text-center m-auto md:w-1/2 w-full text-gray-100 font-light my-8').
        Strategy, technology and design are the cornerstones of developing strong user experiences that support your needs and strengthen your business.
    div.text-center.w-full.pb-20.mt-2
        a(
            href='https://tom-deman.github.io/portfolio/'
            target='_blank'
        )
            button(class='bg-red-500 text-center text-gray-100 foint-thin py-3 px-5 text-sm rounded-sm hover:bg-red-400').
                Get in touch
