#portfolio
    img
        &:hover
            transition: .8s ease
            filter: brightness(50%)
            + p
                opacity: 1
    p
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        transition: .8s ease
